version: 2

references:
    steps: &steps
        working_directory: ~/repo
        steps:
            - checkout
            - run: apt-get -yqq update
            - run: apt-get -yqq install git unzip zip libpq-dev default-mysql-client libpng-dev
            - run: docker-php-ext-install pdo_pgsql pdo_mysql gd
            - run: curl -sS https://getcomposer.org/installer | php
            - run: chmod +x composer.phar
            - run: mv composer.phar /usr/local/bin/composer
            - run: composer install -n --prefer-dist --no-progress -o
            - run:
                name: Wait for other docker instances to be up
                command: sleep 10
            - run: mysql --host=mariadb -e "grant all privileges on *.* to 'testing'@'%' with grant option;"
            - run: mysql --host=mysql -e "grant all privileges on *.* to 'testing'@'%' with grant option;"
            - run: mysql --host=mariadb2 -e "grant all privileges on *.* to 'testing'@'%' with grant option;"
            - run: mysql --host=mysql2 -e "grant all privileges on *.* to 'testing'@'%' with grant option;"
            - run: |
                if [[ "${CIRCLE_JOB}" == *-nginx ]]; then
                    apt-get -yqq install nginx
                fi
            - run: DB_CONNECTION=mysql DB_HOST=mariadb TENANCY_SYSTEM_CONNECTION_NAME=mysql ./vendor/bin/phpunit -c ci.phpunit.xml
            - run: DB_CONNECTION=mysql DB_HOST=mysql LIMIT_UUID_LENGTH_32=1 TENANCY_SYSTEM_CONNECTION_NAME=mysql ./vendor/bin/phpunit -c ci.phpunit.xml
            - run: DB_CONNECTION=pgsql DB_HOST=pgsql TENANCY_SYSTEM_CONNECTION_NAME=pgsql ./vendor/bin/phpunit -c ci.phpunit.xml
            - run: DB_CONNECTION=pgsql DB_HOST=pgsql TENANCY_SYSTEM_CONNECTION_NAME=pgsql TENANCY_DATABASE_DIVISION_MODE=schema ./vendor/bin/phpunit -c ci.phpunit.xml ./tests/unit-tests/Database/ConnectionTest.php

    mysql_environment: &mysql_environment
        - MYSQL_DATABASE: testing
        - MYSQL_USER: testing
        - MYSQL_PASSWORD: testing
        - MYSQL_ALLOW_EMPTY_PASSWORD: yes
        - MYSQL_ROOT_HOST: "%"

    mysql: &mysql
        image: mysql:latest
        entrypoint: ['/entrypoint.sh', '--default-authentication-plugin=mysql_native_password']
        name: mysql
        environment: *mysql_environment
    mysql2: &mysql2
        image: mysql:latest
        entrypoint: ['/entrypoint.sh', '--default-authentication-plugin=mysql_native_password']
        name: mysql2
        environment: *mysql_environment
    mariadb: &mariadb
        image: mariadb:latest
        name: mariadb
        environment: *mysql_environment
    mariadb2: &mariadb2
        image: mariadb:latest
        name: mariadb2
        environment: *mysql_environment
    pgsql: &pgsql
        image: postgres:latest
        name: pgsql
        environment:
            - POSTGRES_DB: testing
            - POSTGRES_USER: testing
            - POSTGRES_PASSWORD: testing
    pgsql2: &pgsql2
        image: postgres:latest
        name: pgsql2
        environment:
            - POSTGRES_DB: testing
            - POSTGRES_USER: testing
            - POSTGRES_PASSWORD: testing
    environment: &environment
        - DB_DATABASE: testing
        - DB_USERNAME: testing
        - DB_PASSWORD: testing
        - APP_KEY: deela5kinohw0haekoothahSh8eexach

jobs:
    "php-8.0-apache":
        docker:
            - image: php:8.0-apache
              environment: *environment
            - *mysql
            - *mariadb
            - *pgsql
            - *mysql2
            - *mariadb2
            - *pgsql2
        <<: *steps
    "php-8.0-nginx":
        docker:
            - image: php:8.0-fpm
              environment: *environment
            - *mysql
            - *mariadb
            - *pgsql
            - *mysql2
            - *mariadb2
            - *pgsql2
        <<: *steps
    coverage:
        docker:
            - image: php:8.0-fpm
              environment: *environment
            - *mariadb
            - *mariadb2
        working_directory: ~/repo
        steps:
            - checkout
            - run: apt-get -yqq update
            - run: apt-get -yqq install git unzip zip libpq-dev default-mysql-client libpng-dev
            - run: docker-php-ext-install pdo_pgsql pdo_mysql gd
            - run: pecl install xdebug
            - run: docker-php-ext-enable xdebug
            - run: curl -sS https://getcomposer.org/installer | php
            - run: chmod +x composer.phar
            - run: mv composer.phar /usr/local/bin/composer
            - run: composer install -n --prefer-dist --no-progress -o
            - run:
                name: Wait for other docker instances to be up
                command: sleep 10
            - run: mysql --host=mariadb -e "grant all privileges on *.* to 'testing'@'%' with grant option;"
            - run: mysql --host=mariadb2 -e "grant all privileges on *.* to 'testing'@'%' with grant option;"
            - run: DB_CONNECTION=mysql DB_HOST=mariadb TENANCY_SYSTEM_CONNECTION_NAME=mysql ./vendor/bin/phpunit -c ci.phpunit.xml --coverage-clover=coverage.xml
            - run: bash <(curl -s https://codecov.io/bash)


workflows:
    version: 2
    test:
        jobs:
            - "php-8.0-apache"
            - "php-8.0-nginx"
            - coverage:
                filters:
                    branches:
                        only: /^([0-9]+)\.x$/
                requires:
                    - "php-8.0-apache"
                    - "php-8.0-nginx"
